body{
    background-color: #ff0000; 
}
.container{
    width: 35%;
    margin-top: 5%;
    border: 6px solid #00ffff;
    padding: 3%;
    font-family: arial;
    border-radius: 8px;
    background-color: #000000;
}
.btn {
    width: 5em;
    height: 5em;
    margin: 0.2em;
    cursor: pointer;
}
#viewer {
    width: 21em;
    height: 6em;
    border: 3px solid #000000;        
    margin-left: 1em;
    border-radius: 8px;
    justify-content: center;
    background-color: #000000;
    color: #808080;
    text-align: center;
}
form {
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 0.2em;
}